*~
.deps
.dirstamp
*.o
*.a
Makefile.in
Makefile

/ChangeLog
/VERSION
/NEWS
/TODO
/AUTHORS

/TAGS
/aclocal.m4
/autom4te.cache

/configure
/configure.ac
/config.log
/config.status

/src/idlgen
/src/*.pyc
/src/ply/*.pyc
/src/Autoconfiguration.py

/tools/maint/fetch
/tools/maint/whitespace-detect
/tools/maint/gitlog-to-committers
/tools/maint/gittag-to-date

/tools/autotools/install-sh
/tools/autotools/missing
/tools/autotools/mdate-sh
/tools/autotools/texinfo.tex
/tools/autotools/py-compile

/tools/autotools/m4/python_autofrisk.m4

/site/in/.sitetool
/site/in/site.stamp
/site/in/todos.sxml
/site/in/todos.dump
/site/in/news.sxml
/site/in/news.dump
/site/out/*
